#navbar {
  height: 70px;
  margin-bottom: 5px;
}
.title {
  font-size: 35px;
  font-family: "Raleway", sans-serif;
}

.subtitle {
  font-family: "Raleway", sans-serif;
}

.biopic {
  border: 2px solid orange;
  border-radius: 25%;
}

#blurb {
  font-family: "Playfair Display", serif;
}

#wrapper {
  border: 1px black solid;
  margin: 15px auto;
  padding: 20px;
}

.container {
  margin: 7px auto;
}

.links {
  font-family: "Playfair Display", serif;
}

.card {
  margin-bottom: 5px;
}
