#navbar {
  height: 70px;
  margin-bottom: 5px;
}
.title {
  font-size: 35px;
  font-family: "Raleway", sans-serif;
}

.subtitle {
  font-family: "Raleway", sans-serif;
}

.biopic {
  border: 2px solid orange;
  border-radius: 25%;
}

#blurb {
  font-family: "Playfair Display", serif;
}
